@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Freckle+Face&family=Luckiest+Guy&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-slate-950 via-blue-900 to-slate-950 text-white;
}


.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}


.glow {
  text-shadow:
    0 0 20px rgba(180, 200, 255, 0.9),
    0 0 40px rgba(100, 140, 255, 0.7);
}

@keyframes raindeerRun {
  0% {
    transform: translate(-20%, 30vh);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate(120vw, -60vh);
    opacity: 1;
  }
}

